<app-add-inventory *ngIf="isAddClicked"></app-add-inventory>
<mat-card class="panel-card">
    <div class="panel-header" fxLayoutAlign="space-between center center">
        <div class="panel-header-left" fxLayout="row" fxLayoutAlign="start center">
            <span class="panel-header-name"> Inventories List</span>
        </div>

        <div class="panel-header-right">
            <button
                class="primary-button"
                fxLayout="row"
                fxLayoutAlign="center center"
                [ngClass]="{disabled: isAddClicked}"
                (click)="!isAddClicked && addInventory()"
            > Add Inventory</button>
        </div>
    </div>

    <div class="panel-content" fxLayout="column">
        <table *ngIf="inventories" mat-table [dataSource]="dataSource" class="inventory-table">
            <!-- Name Column -->
            <ng-container matColumnDef="name">
                <th mat-header-cell class="header-cell label each-cell" *matHeaderCellDef> No. </th>
                <td mat-cell class="value each-cell" *matCellDef="let element; let i = index;">
                    <span *ngIf="i!==selectedIndex">{{element.name}}</span>
                    <input
                        *ngIf="i===selectedIndex"
                        type="text"
                        placeholder="Name"
                        id="name"
                        required
                        [(ngModel)]="element['name']"
                        name="name"
                    />
                </td>
            </ng-container>
            
            <!-- Description Column -->
            <ng-container matColumnDef="description">
                <th mat-header-cell class="each-cell header-cell label" *matHeaderCellDef> Name </th>
                <td mat-cell class="each-cell value" *matCellDef="let element; let i = index;">
                    <span *ngIf="i!==selectedIndex">{{element.description}}</span>
                    <input
                        *ngIf="i===selectedIndex"
                        type="text"
                        placeholder="Description"
                        id="description"
                        required
                        [(ngModel)]="element['description']"
                        name="description"
                    />
                </td>
            </ng-container>
            
            <!-- Price Column -->
            <ng-container matColumnDef="price">
                <th mat-header-cell class="each-cell header-cell label" *matHeaderCellDef> Weight </th>
                <td mat-cell class="each-cell value" *matCellDef="let element; let i = index;">
                    <span *ngIf="i!==selectedIndex">{{element.price}}</span>
                    <input
                        *ngIf="i===selectedIndex"
                        type="number"
                        placeholder="Price"
                        id="price"
                        required
                        [(ngModel)]="element['price']"
                        name="price"
                    />
                </td>
            </ng-container>
            
            <!-- Action Column -->
            <ng-container matColumnDef="action">
                <th mat-header-cell class="each-cell header-cell label" *matHeaderCellDef> Action </th>
                <td mat-cell *matCellDef="let element; let i = index;" class="each-cell value" fxLayoutGap="10px">
                    <span *ngIf="i!==selectedIndex" class="link" (click)="edit(i)">Edit</span>
                    <span *ngIf="i===selectedIndex" class="link" (click)="updateInventory(element['id'], element)">Update</span>
                    <span *ngIf="i===selectedIndex" class="link" (click)="cancel()">Cancel</span>
                    <span *ngIf="i!==selectedIndex" class="link" (click)="deleteInventory(element['id'])">Delete</span>
                </td>
            </ng-container>
            
            <tr mat-header-row class="each-row" *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row class="each-row" *matRowDef="let row; let i = index; columns: displayedColumns;"></tr>
        </table>
        <div
            class="table-footer"
            fxFlex
            fxFlexAlign="space-between center center"
            fxLayout="row"
        >
            <mat-paginator
                *ngIf="(inventories && inventories.length > 5)"
                [pageSizeOptions]="[5,15,25]"
                [pageSize]="5"
                [showFirstLastButtons]="true"
                fxFlex
            ></mat-paginator>
        </div>
        <div
            *ngIf="!inventories"
            class="no-data-panel"
        >
            <div fxFlex fxLayoutAlign="center"> No inventories to display </div>
        </div>
    </div>
</mat-card>


  